.list-block {
  border: 1px solid lightgrey;
  min-width: 500px;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 5px;
}
li {
  list-style: none;
}
button.delete-button {
  margin-bottom: 0;
  border-radius: 5px;
}
.flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 400px;
}
