body {
  position: relative;
}
h1 {
  text-align: center;
}
textarea {
  width: 400px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.get-data {
  min-width: 500px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
button.button-style {
  font-size: 18px;
  border-radius: 10px;
  background-color: whitesmoke;
}
li.list-item {
  list-style: none;
  width: 700px;
}
button {
  border-radius: 5px;
}
#image {
  position: absolute;
  top: 300px;
  left: 150px;
  display: none;
}
